div{
    width: 50%;
    height: 300px;
    background-color: aquamarine;
}
p{
    color: black;

}
/* decendant selector */
div p{
    text-align: center;
    text-decoration:underline;
}

div #a{
    text-align: right;
    color: brown;
    text-decoration: none;
}

