div{
    width: 22%;
    height: 500px;
    background-color:green;
    float: left;
    border: 2px solid black;
    margin: 10px;
    
    
}
#a{
    background-color: aqua;
}
img{
    width: 100%;
    height: 200px;
    border-radius: 50%;
    
}