body{
    text-align: center;
    margin: 0;

}
.menu{
 position: fixed;
 background: white;
 width: 100%;  
 margin-top: 0%;

}
.links{
    display: inline;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* psuedo class    syntax:selector:psuedoclass name{property:value;}*/
}
.links:hover{
font-size: 25px;
text-decoration: underline;

}
a{
    text-decoration: none;
    color: red;
    text-shadow: 2px 2px 2px yellow;
}
html{
    scroll-behavior: smooth;
}
#welcome{
    background: linear-gradient(aqua,aquamarine);
    color:blue;
}
.profile{
    margin-top:50px;
    border-radius: 50%;
}
h2{
    font-size: larger;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
}

#name{
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



h2{
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

#bio{
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
}

.line{
    height: 5px;
    background-color: darkblue;
    width: 100px;
    margin: auto;
}

p{
    font-size: 25px;
}

#writings a{
    text-shadow: none;
    text-decoration: underline;
}
#writings a:hover{
    color: blue;
}

#contact{
    background: red;
}
#contact iframe{
    width: 100%;
}

.contact_1 h3{
    text-shadow: none;
    text-decoration: underline;
    color: black;
    display: inline;
    
}
.contact_1 a{
    text-shadow: none;
    color: black;
}