/*external css*/

.bcc{
    background-color: aqua;
}
.aaa{
    color: blueviolet;
}
/* universal selector */
*{
    background-color: bisque;
}
*{
    text-align: center;
}

h2,h3,h4{
    color: brown;
    border: 3px solid;
}
